<h2 id="design">Design</h2>

<h3 id="checklist">Checklist</h3>

<ul>
<li><p>Color is only used to convey meaning in a secondary way </p>

<p>With more than 3 million cases per year in the US alone, color blindness is very common. It is important to test your designs for usability by the color blind, and avoid using color alone to convey meaning.</p>

<ul>
<li><p>Avoid color coding </p></li>
<li><p>Don&#8217;t use color-specific instructions </p>

<p>This is especially important for error states. </p></li>
<li><p>Links should be indicated with more than color, such as underlining. </p></li>
</ul></li>
<li><p>Contrast reaches the minimum ratio of 4.5:1 </p>

<p>The contrast between text color and background color should be at least 4.5:1 to ensure readability for people with moderately low vision, as well people with color deficiencies. For more information on achieving the correct contrast ratio, read the section on Tints &amp; Shades.</p></li>
<li><p>Establish a color palette with tints and shades </p>

<p>Your color palette should include tints and shades for each color. Tints and shades are (generally) accomplished by combining the main color with 20% black, 20% gray, 20% white, and 80% white. These tints and shades allow greater flexibility for contrast in your design.</p>

<p>For more information, read <a href="https://viget.com/inspire/color-contrast">Color Contrast for Better Readability</a> by <a href="https://viget.com/about/team/tosborne">Tom Osborne</a>.</p></li>
<li><p>Test tints and shades for optimum contrast on elements such as buttons </p></li>
<li><p>Design link-focus indicators for users navigating the site with a keyboard or assistive device </p></li>
<li><p>Design forms and fields with labels, not just placeholder text </p>

<p>Labels must be included for use with screen readers and assistive devices. </p></li>
</ul>

<h3 id="testing">Testing</h3>

<ul>
<li><p>Check color with a simulator, such as <a href="http://michelf.ca/projects/sim-daltonism">Sim Daltonism</a> </p></li>
<li><p>Check <a href="http://snook.ca/technical/colour_contrast/colour.html">color contrast</a> </p></li>
</ul>
